.row
  .span8
    #chart
    \ 
  .span4
    .well
      %h4
        Customers
        %small= "(As of #{Time.at(@set.created_at)})"
      %h2
        %span{"data-value-key" => "paying_customers"}
          %small= "Active: #{@set.active || 0}"
          %br
          %small= "Trialing: #{@set.trialing || 0}"
          %br
          %small= "Unpaid: #{@set.unpaid || 0}"
          %br
          %small= "Past Due: #{@set.past_due || 0}"
          %br
          %small= "Canceling at Period End (Active): #{@set.active_canceled_at_period_end || 0}"
          %br
          %small= "Canceling at Period End (Trialing): #{@set.trialing_canceled_at_period_end || 0}"
    .well
      %h4
        Charges
        %small= "(As of #{Time.at(@set.created_at)})"
      %h2
        %span{"data-value-key" => "monthly_revenue"}
          %small= "Charges Today: #{@set.charges_today || 0}" 
          %br
          %small= "Amount Charged Today: #{number_to_currency(@set.amount_charged_today.to_f / 100) || 0}"
    .well
      %h4
        Monthly Revenue
        %small (projected)
      %h2
        $
        %span{"data-value-key" => "monthly_revenue"}
          %small loading...
    .well
      %h4
        Churns
        %small (last 30 days)
      %h2
        %span{"data-value-key" => "churn_count"}
          %small= @set.churn
    .well
      %h4
        Churn Rate
        %small (last 30 days)
      %h2
        %span{"data-value-key" => "churn"}>
          %small= @set.churn_rate
        \%
    .well
      %h4
        CLV
        %small (last 31 days)
      %h2
        $
        %span{"data-value-key" => "customer_lifetime_value"}
          %small loading...
