-content_for :head do
  = javascript_include_tag "dashboard"
.row
  .span8
    #chart-container
    \ 
  .span4
    %ul.nav.nav-list
      %li.nav-header
        Customers
        %small= "(As of #{Time.at(@set.created_at)})"
      %li{"data-value-key" => "active", 'class' => if params.has_key? 'active' and params['active'].include? 'active' then 'active' else '' end}
        %a= "Active: #{@set.active || 0}"
      %li{"data-value-key" => "trialing", 'class' => if params.has_key? 'active' and params['active'].include? 'trialing' then 'active' else '' end}
        %a= "Trialing: #{@set.trialing || 0}"
      %li{"data-value-key" => "unpaid", 'class' => if params.has_key? 'active' and params['active'].include? 'unpaid' then 'active' else '' end}
        %a= "Unpaid: #{@set.unpaid || 0}"
      %li{"data-value-key" => "past_due", 'class' => if params.has_key? 'active' and params['active'].include? 'past_due' then 'active' else '' end}
        %a= "Past Due: #{@set.past_due || 0}"
      %li{"data-value-key" => "active_canceled_at_period_end", 'class' => if params.has_key? 'active' and params['active'].include? 'active_canceled_at_period_end' then 'active' else '' end}
        %a= "Canceling at Period End (Active): #{@set.active_canceled_at_period_end || 0}"
      %li{"data-value-key" => "trialing_canceled_at_period_end", 'class' => if params.has_key? 'active' and params['active'].include? 'trialing_canceled_at_period_end' then 'active' else '' end}
        %a= "Canceling at Period End (Trialing): #{@set.trialing_canceled_at_period_end || 0}"
      %li.nav-header
        Charges
        %small= "(As of #{Time.at(@set.created_at)})"
      %li{"data-value-key" => "charges_today", 'class' => if params.has_key? 'active' and params['active'].include? 'charges_today' then 'active' else '' end}
        %a= "Charges Today: #{@set.charges_today || 0}" 
      %li{"data-value-key" => "amount_charged_today", 'class' => if params.has_key? 'active' and params['active'].include? 'amount_charged_today' then 'active' else '' end}
        %a= "Amount Charged Today: #{number_to_currency(@set.amount_charged_today.to_f / 100) || 0}"
      %li.nav-header
        Monthly Revenue
        %small (projected)
      %li{"data-value-key" => "average_monthly_revenue", 'class' => if params.has_key? 'active' and params['active'].include? 'average_monthly_revenue' then 'active' else '' end}
        %a= number_to_currency(@set.average_monthly_revenue.to_f / 100)
      %li.nav-header
        Churn
        %small (last 30 days)
      %li{"data-value-key" => "churn", 'class' => if params.has_key? 'active' and params['active'].include? 'churn' then 'active' else '' end}
        %a= "Count: #{@set.churn}"
      %li{"data-value-key" => "churn_rate", 'class' => if params.has_key? 'active' and params['active'].include? 'churn_rate' then 'active' else '' end}
        %a= "Rate: #{@set.churn_rate} %"
      %li.nav-header
        CLV
        %small (last 30 days)
      %li{"data-value-key" => "customer_lifetime_value", 'class' => if params.has_key? 'active' and params['active'].include? 'customer_lifetime_value' then 'active' else '' end}
        %a= number_to_currency(@set.customer_lifetime_value.to_f / 100)
      %li.nav-header
        Average Monthly Revenue Per Customer
        %small (last 30 days)
      %li{"data-value-key" => "average_monthly_revenue_per_customer", 'class' => if params.has_key? 'active' and params['active'].include? 'average_monthly_revenue_per_customer' then 'active' else '' end}
        %a= number_to_currency(@set.average_monthly_revenue_per_customer.to_f / 100)
