%html
  %head
    = javascript_include_tag "dashboard"
.row
  .span8
    #chart
    \ 
  .span4
    .well
      %h4
        Customers
        %small= "(As of #{Time.at(@set.created_at)})"
      %h2
        %span{"data-value-key" => "paying_customers"}
          %small{"data-value-key" => "active"}= "Active: #{@set.active || 0}"
          %br
          %small{"data-value-key" => "trialing"}= "Trialing: #{@set.trialing || 0}"
          %br
          %small{"data-value-key" => "unpaid"}= "Unpaid: #{@set.unpaid || 0}"
          %br
          %small{"data-value-key" => "past_due"}= "Past Due: #{@set.past_due || 0}"
          %br
          %small{"data-value-key" => "active_canceled_at_period_end"}= "Canceling at Period End (Active): #{@set.active_canceled_at_period_end || 0}"
          %br
          %small{"data-value-key" => "trialing_canceled_at_period_end"}= "Canceling at Period End (Trialing): #{@set.trialing_canceled_at_period_end || 0}"
    .well
      %h4
        Charges
        %small= "(As of #{Time.at(@set.created_at)})"
      %h2
        %span{"data-value-key" => "monthly_revenue"}
          %small{"data-value-key" => "charges_today"}= "Charges Today: #{@set.charges_today || 0}" 
          %br
          %small{"data-value-key" => "amount_charged_today"}= "Amount Charged Today: #{number_to_currency(@set.amount_charged_today.to_f / 100) || 0}"
    .well
      %h4
        Monthly Revenue
        %small (projected)
      %h2
        $
        %span{"data-value-key" => "monthly_revenue"}
          %small{"data-value-key" => "average_monthly_revenue"}= number_to_currency(@set.average_monthly_revenue.to_f / 100)
    .well
      %h4
        Churns
        %small (last 30 days)
      %h2
        %span{"data-value-key" => "churn_count"}
          %small{"data-value-key" => "churn"}= @set.churn
    .well
      %h4
        Churn Rate
        %small (last 30 days)
      %h2
        %span{"data-value-key" => "churn"}>
          %small{"data-value-key" => "churn_rate"}= @set.churn_rate
        \%
    .well
      %h4
        Conversions
        %small (last 30 days)
      %h2
        %span{"data-value-key" => "converted_count"}
          %small{"data-value-key" => "converted"}= "Conversions: #{@set.converted}"
        %br
        %span{"data-value-key" => "failed_to_convert"}
          %small{"data-value-key" => "failed_to_convert"}= "Failed to Convert: #{@set.failed_to_convert}"
        %br
        %span{"data-value-key" => "conversion_rate"}
          %small{"data-value-key" => "conversion_rate"}= "Conversion Rate: #{(@set.converted.to_f / (@set.failed_to_convert.to_f + @set.converted.to_f) * 100).round}%"
    .well
      %h4
        CLV
        %small (last 30 days)
      %h2
        $
        %span{"data-value-key" => "customer_lifetime_value"}
          %small{"data-value-key" => "customer_lifetime_value"}= number_to_currency(@set.customer_lifetime_value.to_f / 100)
      %h4
        Average Monthly Revenue Per Customer
        %small (last 30 days)
      %h2
        $
        %span{"data-value-key" => "average_monthly_revenue_per_customer"}
          %small{"data-value-key" => "average_monthly_revenue_per_customer"}= number_to_currency(@set.average_monthly_revenue_per_customer.to_f / 100)
        
